        <script type="text/javascript">
            var url = window.location.href;
            var arr = url.split("/");
            url = arr[arr.length-1];
            $('a[href="/'+ url +'"]').addClass('active');
            $('a[href="/questions/'+ url +'"]').addClass('active');
        </script>
        <script type="text/javascript">
			function insertAtCaret(areaId, text) {
			  var txtarea = document.getElementById(areaId);
			  if (!txtarea) {
			    return;
			  }
			
			  var scrollPos = txtarea.scrollTop;
			  var strPos = 0;
			  var br = ((txtarea.selectionStart || txtarea.selectionStart == '0') ?
			    "ff" : (document.selection ? "ie" : false));
			  if (br == "ie") {
			    txtarea.focus();
			    var range = document.selection.createRange();
			    range.moveStart('character', -txtarea.value.length);
			    strPos = range.text.length;
			  } else if (br == "ff") {
			    strPos = txtarea.selectionStart;
			  }
			
			  var front = (txtarea.value).substring(0, strPos);
			  var back = (txtarea.value).substring(strPos, txtarea.value.length);
			  txtarea.value = front + text + back;
			  strPos = strPos + text.length;
			  if (br == "ie") {
			    txtarea.focus();
			    var ieRange = document.selection.createRange();
			    ieRange.moveStart('character', -txtarea.value.length);
			    ieRange.moveStart('character', strPos);
			    ieRange.moveEnd('character', 0);
			    ieRange.select();
			  } else if (br == "ff") {
			    txtarea.selectionStart = strPos;
			    txtarea.selectionEnd = strPos;
			    txtarea.focus();
			  }
			
			  txtarea.scrollTop = scrollPos;
			}
		</script>
        <script type="text/javascript">
		    // Auto-Grow-TextArea script.
		    // Script copyright (C) 2011 www.cryer.co.uk.
		    // Script is free to use provided this copyright header is included.
		    var textField = document.getElementById("code");
		    function AutoGrowTextArea(textField)
		    {
		      if (textField.clientHeight < textField.scrollHeight)
		      {
		        textField.style.height = textField.scrollHeight + "px";
		        if (textField.clientHeight < textField.scrollHeight)
		        {
		          textField.style.height =
		            (textField.scrollHeight * 2 - textField.clientHeight) + "px";
		        }
		      }
		    }
		 </script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
         <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
      </body>
</html>