<% include ../partials/header %>

<div class="container">
    <div class="row">
    <h1 style="text-align: center;">Ask your question</h1>
        <div style="width: 50%; margin: 25px auto">
            <form action="/questions" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="questionString" placeholder="Your Question..." required></input>
                </div>
                <div class="form-group">
                    <input type="url" class="form-control" name="link" placeholder="Link" required></input>
                </div>
                <div class="form-group">
                    <textarea onkeyup="AutoGrowTextArea(this)" type="text" class="form-control" rows="5" name="code" placeholder="Code"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
             <a href="javascript:history.back()">Go Back</a>
        </div>
    </div>
</div>


<% include ../partials/footer %>